<header class="header">
  <h1 id="page-title" class="header__heading"><%= @development.to_s %></h1>
</header>

<%= react_component 'DevelopmentTableEditor', development: @development.as_json(root: false) %>

