---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20O%27Kon,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 24 Apr 2016 15:34:40 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Bernhard,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 24 Apr 2016 15:40:28 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Eichmann,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 24 Apr 2016 16:24:23 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20MacGyver,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 24 Apr 2016 20:17:29 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Farrell,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 24 Apr 2016 20:18:32 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Wintheiser,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 25 Apr 2016 01:08:41 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Metz,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 25 Apr 2016 01:19:08 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Dibbert,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 25 Apr 2016 01:27:27 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Greenholt,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 25 Apr 2016 01:55:40 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Beer,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 27 Apr 2016 20:24:01 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Witting,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 27 Apr 2016 20:48:31 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Collins,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Collins",
                       "short_name" : "Collins",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Western Australia",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "6260",
                       "short_name" : "6260",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Collins WA 6260, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -34.3580964,
                          "lng" : 116.2187651
                       },
                       "southwest" : {
                          "lat" : -34.514585,
                          "lng" : 115.9924667
                       }
                    },
                    "location" : {
                       "lat" : -34.45200120000001,
                       "lng" : 116.1106949
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -34.3580964,
                          "lng" : 116.2187651
                       },
                       "southwest" : {
                          "lat" : -34.514585,
                          "lng" : 115.9924667
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJLdcfZcyeOioRUOl5JDj2AAQ",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 27 Apr 2016 20:48:43 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Oberbrunner,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 27 Apr 2016 20:49:14 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Runolfsson,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 27 Apr 2016 20:50:21 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Walker,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 27 Apr 2016 20:50:35 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Daniel,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 12 May 2016 22:18:01 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Huel,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 12 May 2016 22:18:36 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Barton,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 12 May 2016 22:19:26 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Donnelly,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 12 May 2016 22:29:15 GMT
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=I%20DONT%20KNOW%20WHAT%20THIS%20IS%20HELLLLLP,%20Ziemann,%20Australia&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 14 May 2016 14:20:47 GMT
recorded_with: VCR 3.0.1
