<header class="header">
  <h1 id="page-title" class="header__heading">Photos of <%= @development.to_s %></h1>
</header>

<section>
  <%= react_component 'CompositeImageUploader', imageable: DevelopmentSerializer.new(@development).as_json(root: false), images: ActiveModel::ArraySerializer.new(@development.photos, each_serializer: DevelopmentPhotoSerializer).as_json(root: false) %>
</section>

