<header class="header">
  <h1 id="page-title" class="header__heading"><%= @unit.to_s %> Views</h1>
  <p><%= link_to "Back to Units", admin_development_units_path(@unit.development) %></p>
</header>

<section>
  <%= react_component 'CompositeImageUploader', props: {
      imageable: UnitSerializer.new(@unit).as_json(root: false), 
      imageable_type: 'Unit',
      type: 'UnitView',
      images: ActiveModel::ArraySerializer.new(@unit.views, each_serializer: UnitPlanSerializer).as_json(root: false) 
    }
  %>
</section>

